<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置MyBatis的pojo文件夹 -->
	<typeAliases>
		<package name="com.dq.bean" />
	</typeAliases>
	
	<!-- 配置所有 MyBatis需要的 数据库配置文件 -->
	<mappers>
		<mapper resource="com/dq/bean/UserMapper.xml" />
		<mapper resource="com/dq/bean/LoginMapper.xml" />
	</mappers>
</configuration> 